.stocks {
  padding: 35px 30px;
  max-width: 1142px;
  width: 100%;
  background: $bg;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  &-wrap {
    padding: 38px 20px 0 38px;
    width: 100%;

    &--none {
      display: none;
    }
  }
  
  &__btn-wrapper {
    padding-left: 20px;
    padding-top: 10px;
    display: flex;
    align-items: flex-end;
    flex: 0 0 15%;
  }

  &__btn-calculate {
    padding: 7px 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    font-family: $font-base;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: $white;
    background: linear-gradient(180deg, #39B54A 0%, #34AA44 97.78%);
    border: 1px solid #249533;
    box-sizing: border-box;
    border-radius: 4px;

    &:hover {
      box-shadow: 0 0 10px rgba(119, 116, 116, 0.5);
      transition: all 0.5s;
    }

    &:active {
      color: $blue;	
    }
  }
    
  &__block-title {
    margin-bottom: 19px;
    font-family: $font-base;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: $blue;
  }

  &__block-title-number {
    font-family: $font-base;
    font-size: 20px;
    line-height: 30px;
    color: $blue;
  }
    
  &__block-list-wrapper {
    width: 100%;
  }

  &__block-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none outside none;
  }
      
  &__list-item {
    position: relative;
    padding: 0 30px;
    width: 100%;
    flex: 0 0 34%;
    max-width: 34%;
    min-width: 0;

    &::after {
      position: absolute;
      top: 20px;
      right: 0;
      content: "";
      width: 1px;
      height: 139px;
      margin: 0;
      background: linear-gradient(180deg, #FFFFFF 0%, #DFE2E5 100%);
    }
    
    &:last-child::after {
      content: none;
    }

    &:nth-child(3)::after {
      content: none;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding: 0px 5px;
      width: 100%;
      flex: 0 0 8%;
      max-width: 8%;
      min-width: 0;
    }

    &:nth-child(3) {
      padding: 0 15px;
      width: 100%;
      flex: 0 0 24%;
      max-width: 24%;
      min-width: 0;
    }
  }

  &__list-item-subtitle {
    margin-bottom: 25px;
    font-family: $font-base;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: $blue;
  }

  &__list-item-before {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: 200;
    font-size: 14px;
    line-height: 21px;
  }

  &__list-item-style {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $blue;
  }

  &__list-item-before-text {
    display: block;
  }
            
  &__list-item-before-block {
    display: flex;
  }

  &__list-item-before-number {
    display: block;
  }

  &__list-item-icon {
    margin: 0 10px;
    max-width: 11px;
    width: 100%;
    height: auto;

    &--none {
      visibility: hidden;
      opacity: 0;
    }
  }
          
  &__list-item-ontime {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: 200;
    font-size: 14px;
    line-height: 21px;
  }

  &__list-item-style {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $blue;

  }

  &__list-item-ontime-text {
    display: block;
  }
            
  &__list-item-ontime-block {
    display: flex;
  }

  &__list-item-ontime-number {
    display: block;
  }

  &__list-item-icon {
    margin: 0 10px;
    margin: 0 10px;
    max-width: 11px;
    width: 100%;
    height: auto;

    &--none {
      visibility: hidden;
      opacity: 0;
    }
  }
         
  &__list-item-after {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: 200;
    font-size: 14px;
    line-height: 21px;
  }

  &__list-item-style {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $blue;

  }

  &__list-item-after-text {
    display: block;
  }
            
  &__list-item-after-block {
    display: flex;
  }

  &__list-item-after-number {
    display: block;
  }

  &__list-item-icon {
    margin: 0 10px;
    margin: 0 10px;
    max-width: 11px;
    width: 100%;
    height: auto;

    &--none {
      visibility: hidden;
      opacity: 0;
    }
  }
        
  &__list-item-total-text {
    margin-right: 2px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $grey-3;
  }

  &__list-item-total-number {
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    color: $green;

    &--red {
      color: $red-2;
    }
  }
                  
  &__list-item-block-conversion {
    padding-top: 16px;
  }

  &__list-item-conversion-subtitle {
    margin-bottom: 10px;
    font-style: italic;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $grey-3;
  }

  &__list-item-conversion-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list-item-conversion--1 {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 21px;
    color: $green;

    &--none {
      visibility: hidden;
      opacity: 0;
    }
  }

  &__list-item-conversion--2 {
    margin-bottom: 10px;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $green;
  }

  &__list-item-conversion--3 {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: $green;
    color: $red-2;
  }
}

.form-analysis {
  padding-bottom: 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;

  &__select {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
  }

  &__choice {
    padding: 0 0 0 24px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 0 0 23%;
    max-width: 23%;
    // min-width: 0;

    &--period {
      padding-left: 0;
      display: flex;
      width: 100%;
      flex: 0 0 31%;
      max-width: 31%;
      min-width: 0;
    }
  }

  &__choice-text {
    display: block;
    margin-bottom: 7px;
    display: block;
    font-weight: 200;
    font-size: 14px;
    line-height: 21px;
    color: $grey-3;
    white-space: nowrap;
  }

  &__choice-btn {
    position: relative;
    padding: 7px 25px 7px 10px;
    display: flex;
    align-items: center;
    width: 100%;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    background: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
    border: 1px solid #CED0DA;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;

    &--date {
      justify-content: space-around;
    }
  }

  &__choice-icon-calendar {
    max-width: 16px;
    width: 100%;
    height: auto;
  }

  &__choice-date-start {
    display: block;
    font-weight: 200;
    font-size: 14px;
    line-height: 19px;
    color: $blue;
    white-space: nowrap;
  }

  &__choice-date-dash {
    display: block;
    font-weight: 200;
    font-size: 14px;
    line-height: 19px;
    color: $blue;
  }

  &__choice-date-finish {
    display: block;
    font-weight: 200;
    font-size: 14px;
    line-height: 19px;
    color: $blue;
    white-space: nowrap;
  } 

  &__choice-btn-text {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: $font-third;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: $blue;
  }

  &__choice-icon-dropdown {
    position: absolute;
    top: 50%;
    right: 10px;
    max-width: 7px;
    width: 100%;
    height: auto;
  }
}

//shitty hack

.stocks__form-analysis {
  padding-bottom: 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
}

//shitty hack

.stocks__form-analysis-select {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
}