.distributions {
  max-width: 1100px;
  width: 100%;
  box-sizing: border-box;
  background: $white;
  border: 1px solid #DFE2E5;
  border-radius: 4px 4px 0px 0px;

  &-wrap {
    padding: 36px 36px 30px 36px;
    width: 100%;
  }

  &__save-block {
    padding: 15px 35px 15px 25px;
    display: flex;
    justify-content: space-between;
    background: $bg-grey-3;
    border: 1px solid #DFE2E5;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px 0px 4px 4px;
  }

  &__save-block-checkbox {
    top: 13px;
    right: 10px;
  }

  &__save-block-checkbox-text {
      
    &::before {
      width: 23px;
      height: 23px;
    }

    &::after {
      top: -1px;
      left: 18px;
    }
  }

  &__add-block {
    padding: 30px 75px;
  }

  &__add-block-btn {
  padding: 0;
  border: 0;
  margin: 0;
  max-width: 107px;
  width: 100%;
  display: block;
  flex: 0 0 auto;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-family: $font-base;
  font-weight: 300;
  font-size: 13px;
  line-height: 19px;
  color: $grey-4;
  }
}

.expect-form {
  padding: 43px 35px 43px 75px;
  width: 100%;
  border-bottom: 1px solid #DFE2E5;

  &--none {
    display: none;
  }

  &__choice-block {
    position: relative;
    margin-bottom: 25px;
    display: flex;
  }

  &__checkbox {
    position: absolute;
    top: 37px;
    left: -44px;
    margin-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__checkbox-input {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;

    &:checked+.expect-form__checkbox-text::before {
      background: linear-gradient(0deg, #29B311 0%, #57D841 100%);
      border: 1px solid #27AA11;
      box-sizing: border-box;
      border-radius: 4px;
    }

    &:checked+.expect-form__checkbox-text:after {
      opacity: 1;
    }
  }
    
  &__checkbox-text {
    padding-left: 25px;
    font-family: $font-third;
    font-size: 14px;
    line-height: 18px;
    color: $grey-3;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      content: "";
      display: block;
      width: 23px;
      height: 23px;
      background: linear-gradient(0deg, #F2F4F8 0%, #FEFFFF 100%);
      border: 1px solid #CED0DA;
      box-sizing: border-box;
      border-radius: 4px;
    }

    &::after {
      position: absolute;
      top: 8px;
      left: 7px;
      z-index: 2;
      content: "";
      display: block;
      width: 8px;
      height: 7px;
      background: url("../images/tick-icon.svg") no-repeat;
      background-size: 8px 7px;
      opacity: 0;
    }
  }
    
  &__period {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    flex: 0 0 245px;
    max-width: 245px;
    min-width: 0;
    width: 100%;
  }

  &__text {
    margin-bottom: 10px;
    font-weight: 200;
    font-size: 14px;
    line-height: 21px;
    color: $grey-3;
  }

  &__btn-period {
    position: relative;
    padding: 7px 25px 7px 10px;
    display: flex;
    align-items: center;
    width: 100%;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    background: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
    border: 1px solid #CED0DA;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;

    &--date {
      justify-content: space-around;
    }
  }

  &__icon-calendar {
    margin-right: 10px;
    max-width: 16px;
    width: 100%;
    height: auto;
  }
      
  &__date-start {
    display: block;
    font-weight: 200;
    font-size: 14px;
    line-height: 19px;
    color: $blue;
    white-space: nowrap;
  }

  &__date-dash {
    margin: 0 5px;
    display: block;
    font-weight: 200;
    font-size: 14px;
    line-height: 19px;
    color: $blue;
  }

  &__date-finish {
    margin-right: 5px;
    display: block;
    font-weight: 200;
    font-size: 14px;
    line-height: 19px;
    color: $blue;
    white-space: nowrap;
  } 

  &__icon-dropdown {
    position: absolute;
    top: 50%;
    right: 10px;
    max-width: 7px;
    width: 100%;
    height: auto;
  }

  &__choice-base {
    display: flex;
    flex-direction: column;
    flex: 0 0 245px;
    max-width: 245px;
    min-width: 0;
    width: 100%;
  }

  &__choice-base-text {
    margin-bottom: 10px;
    font-weight: 200;
    font-size: 14px;
    line-height: 21px;
    color: $grey-3;
  }

  &__choice-base-btn {
    position: relative;
    padding: 7px 30px 7px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    background: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
    border: 1px solid #CED0DA;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
  }

  &__choice-base-btn-text {
    display: block;
    font-weight: 200;
    font-size: 14px;
    line-height: 19px;
    color: $blue;
  }

  &__choice-base-icon-dropdown {
    position: absolute;
    top: 50%;
    right: 10px;
    max-width: 7px;
    width: 100%;
    height: auto;
  }


  &__amount {
    margin-bottom: 25px;
    display: flex;
    align-items: flex-end;
    width: 100%;
  }

  &__amount-item {
    padding: 10px 20px;
    width: 100%;
    flex: 0 0 20%;
    max-width: 20%;
    min-width: 0;

    &--first {
      padding-left: 0;
    }

    &--last {
      padding-right: 0;
    }
  }

  &__amount-item-text {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;

    &--long {
      padding-right: 45px;
    }
  }

  &__amount-item-wrapper {
    display: flex;
    border: 1px solid #E6EAEE;
    border-radius: 4px;
  }

  &__amount-item-input {
    padding: 5px;
    width: 100%;
    min-height: 35px;
    border: none;
    font-weight: 200;
    font-size: 12px;
    line-height: 18px;
    color: $grey-3;

    &--from {
      border-right: 1px solid #E6EAEE;
      border-radius: 4px 0 0 4px;
    }

    &--to {
      border-radius: 0 4px 4px 0;
    }
  }

  &__select {
    display: flex;
  }

  &__select-base {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    flex: 0 0 160px;
    max-width: 160px;
    min-width: 0;
    width: 100%;
  }

  &__select-base-text {
    margin-bottom: 5px;
    display: block;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
  }

  &__select-base-btn {
    position: relative;
    padding: 7px 30px 7px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    background: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
    border: 1px solid #CED0DA;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
  }

  &__select-base-btn-text {
    font-size: 14px;
    line-height: 19px;
  }

  &__select-base-icon-dropdown {
    position: absolute;
    top: 50%;
    right: 10px;
    max-width: 7px;
    width: 100%;
    height: auto;
  }
}

