.panel-kpi {
  display: flex;
  flex-direction: column;
  max-width: 1166px;
  width: 100%;
  background: $bg;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  &-wrap {
    padding: 38px 20px 0 38px;
    width: 100%;
  }

  &-wrap--none {
    display: none;
  }

  &__period {
    padding: 25px 30px;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #DFE2E5;
  }

  &__text {
    display: block;
    margin-right: 17px;
    font-weight: 200;
    font-size: 14px;
    line-height: 21px;
    color: $grey-3;
  }

  &__btn-period {
    margin-right: 51px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    background: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
    border: 1px solid #CED0DA;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
  }

  &__icon-calendar {
    margin-right: 12px;
    max-width: 16px;
    width: 100%;
    height: auto;
  }

  &__date-start {
    display: block;
    font-weight: 200;
    font-size: 14px;
    line-height: 19px;
    color: $blue;
  }
      
  &__date-dash {
    display: block;
    margin: 0 5px;
    font-weight: 200;
    font-size: 14px;
    line-height: 19px;
    color: $blue;
  }

  &__date-finish {
    display: block;
    margin-right: 18px;
    font-weight: 200;
    font-size: 14px;
    line-height: 19px;
    color: $blue;
  }

  &__icon-dropdown {
    max-width: 7px;
    width: 100%;
    height: auto;
  }
    
  &__checkbox {
    position: relative;
    margin-right: 10px;
    height: 100%;
    max-width: 100px;
    display: flex;
    width: 100%;
    align-items: center;
    max-width: 100px;
    width: 100%;
  }

  &__checkbox-input {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;

    &:checked + .panel-kpi__checkbox-text::before {
      background: linear-gradient(0deg, #29B311 0%, #57D841 100%);
      border: 1px solid #27AA11;
      box-sizing: border-box;
      border-radius: 4px;
    }

    &:checked + .panel-kpi__checkbox-text:after {
      opacity: 1;
    }
  }

  &__checkbox-text {
    padding-left: 25px;
    font-family: $font-third;
    font-size: 14px;
    line-height: 18px;
    color: $grey-3;

    &::before {
      position: absolute;
      top: 2px;
      left: 0;
      z-index: 1;
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      background: linear-gradient(0deg, #F2F4F8 0%, #FEFFFF 100%);
      border: 1px solid #CED0DA;
      box-sizing: border-box;
      border-radius: 4px;
    }

    &::after {
      position: absolute;
      top: 7px;
      left: 5px;
      z-index: 2;
      content: "";
      display: block;
      width: 8px;
      height: 7px;
      background: url("../images/tick-icon.svg") no-repeat;
      background-size: 8px 7px;
      opacity: 0;

    } 
  }
  
  &__client-base {
    padding: 45px 30px 30px 30px;
    width: 100%;
  }

  &__client-base-title {
    margin-bottom: 50px;
    font-family: $font-base;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: $blue;
  }

  &__analysis-list {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    list-style: none outside none;
  }

  &__analysis-item {
    position: relative;
    padding: 10px 18px;
    display: flex;
    width: 100%;
    flex: 0 0 25%;
    max-width: 25%;
    min-width: 0;

    &::after {
      position: absolute;
      top: -40px;
      right: 0;
      content: "";
      width: 1px;
      height: 127px;
      margin: 0;
      background: linear-gradient(180deg, #FFFFFF 0%, #DFE2E5 100%);
    }
    
    &:last-child::after {
      content: none;
    }
    
    &:first-child {
      padding-left: 0;
    } 
  }

  &__kpi__analysis-img {
    margin-right: 10px;
    max-width: 60px;
    width: 100%;
    height: auto;
  }

  &__analysis-item-icon {
    max-width: 60px;
    width: 100%;
    height: auto;
  }  

  &__analysis-item-info {
    flex-direction: column;
    display: flex;
  }

  &__analysis-item-title {
    font-family: $font-third;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: $grey-3;
    text-transform: uppercase;
  }

  &__analysis-item-numeral {
    display: block;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    color: $blue;

    &--none {
      visibility: hidden;
      opacity: 0;
    }
  }

  &__analysis-item-period {
    display: block;
    font-family: $font-third;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: $grey-3;
    text-transform: uppercase;

    &--none {
      visibility: hidden;
      opacity: 0;
    }
  }

  &__analysis-item-percent {
    display: block;
    font-family: $font-third;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: $green;

    &--none {
      visibility: hidden;
      opacity: 0;
    }

    &--red {
      color: $red;
    }
  }
}

.add-section {
  padding: 74px 95px 30px;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  display: flex;

  &::before {
    content: "";
    width: 100%;
    height: 1px;
    width: auto;
    display: block;
    flex: 1 1 auto;
    background: #DFE2E5;
  }

  &::after {
    content: "";
    width: 100%;
    height: 1px;
    width: auto;
    display: block;
    flex: 1 1 auto;
    background: #DFE2E5;
  }

  &__btn {
    padding: 0;
    border: 0;
    margin: 0 23px;
    max-width: 107px;
    width: 100%;
    display: block;
    flex: 0 0 auto;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-family: $font-base;
    font-weight: 200;
    font-size: 12px;
    line-height: 18px;
    color: $grey-3;
    text-transform: uppercase;
  }
}