//
// Colors common
// --------------------------------------------------
$white: #fff; //
$white-2: #E6EAEE; //
$grey: #707070; //
$grey-2: #90A0B7; //
$grey-3: #7F8FA4; //
$grey-4: #818C9B; //
$blue: #354052; //
$dark-blue: #192A3E; //
$black: #000; //
$orange: #E8563F; //
$dark: #323C47; //
$green: #45B854; // 
$green-2: #27AA11;//
$red: #D35847; //
$red-2: #D55742; //


// Text
$text: $blue; //

// Backgroud
$bg: #fff;
$bg-content: #EFF3F6;
$bg-frame: #E5E5E5;
$bg-line: #E9EFF4;
$bg-green: #45B854;
$bg-red: #D55742;
$bg-grey: #DFE2E5;
$bg-grey-2: #E6EAEE;
$bg-grey-3: #FAFBFC;


// Borders
$bg-grey: $grey;

//
// Colors functional
// --------------------------------------------------

// Links:
// $link-hover:       		$violet;

//
// Typography
// --------------------------------------------------
$font-base: 'Poppins',
Helvetica,
Arial,
sans-serif;
$font: $font-base;
$font-second: 'Roboto',
sans-serif;
$font-third: 'Source Sans Pro',
sans-serif;
$font-fourth: 'Lato',
sans-serif;


// Font sizes
// -------------------------
$font-size-root: 14px;
$font-size: 14px;

// Line heights
// -------------------------

$line-height: 21px;

// Font weights
// -------------------------

$lighter: 200;
$normal: 400;
$bold: 600;

// Paths
// -------------------------

//$font-img-path: '../images';



// Media filters
$M_X5S : 'screen and (max-width: 319px)';
$M_X4S : 'screen and (max-width: 374px)';
$M_X3S : 'screen and (max-width: 479px)';
$M_X2S : 'screen and (max-width: 639px)';
$M_X1-2S : 'screen and (max-width: 719px)';
$M_XS : 'screen and (max-width: 767px)'; // phones
$M_XSM : 'screen and (max-width: 869px)';
$M_SM : 'screen and (max-width: 991px)'; // tablets
$M_SM_UP : 'screen and (min-width: 992px)'; // from tablets to desktop
$M_SMX : 'screen and (max-width: 1023px)';
$M_SM2X : 'screen and (max-width: 1099px)';
$M_SM3X : 'screen and (max-width: 1149px)';
$M_MD : 'screen and (max-width: 1199px)'; // medium desktop
$M_LG : 'screen and (min-width: 1200px)'; // large desktop
$M_XLG : 'screen and (max-width: 1399px)'; // extra-large desktop