.registration {
	margin-left: auto;
	margin-right: auto;
	padding: 63px 84px 86px 88px;
	max-width: 1020px;
	width: 100%;
	min-height: 602px;
	background: $bg;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 4px;

	&__main-title {
		margin-bottom: 18px;
	}

	&__main-title-span {
		font-weight: 500;
		font-size: $normal;
		color: $blue;
	}
	
	&__content {
		margin-bottom: 50px;
		text-align: center;
		font-style: normal;
		font-weight: $normal;
		font-size: 14px;
		line-height: 21px;
		color: $blue;
	}

	&__content-link {
		font-size: 14px;
		line-height: 21px;
		color: $orange;
		text-decoration: none;
	}
}

.form-container {
	position: relative;
	display: flex;
	box-sizing: border-box;
	width: 100%;

	&__form {
		width: 50%;
	}

	&__form-join {
		padding-left: 45px;
	}

	&__line {
		position: absolute;
		top: 50%;
		right: 0;
		left: 0;
		width: 270px;
		border: 1px solid #D2D2D2;
		transform: rotate(90deg);
	}
}

// shitty hack
.registration__form-container {
	position: relative;
	display: flex;
	box-sizing: border-box;
	width: 100%;
}


.form-join {

	&__title {
		margin-bottom: 40px;
	}

	&__text-input {
		margin-bottom: 15px;
		font-family: $font-second;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
	}

	&__input-pass {
		padding: 1px 5px 1px 5px;
		margin-bottom: 32px;
		width: 377px;
		min-height: 40px;
		font-family: "Roboto", sans-serif;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		background: $white;
		border: 1px solid #DFE2E5;

	}

	&__btn-mix {
		margin-left: 243px;
	}
}

.form-job {

	&__title {
		margin-bottom: 25px;

	}

	&__text-input {
		font-family: $font-second;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
	}

	&__text-explanation {
		margin-bottom: 10px;
		font-family: $font-second;
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		color: #5C5C5C;
	}

	&__input {
		padding: 1px 5px 1px 5px;
		margin-bottom: 26px;
		width: 350px;
		min-height: 40px;
		font-family: "Roboto", sans-serif;
		font-size: 14px;
		line-height: 16px;
		background: $white;
		border: 1px solid #DFE2E5;
	}

	&__text-input-phone {
		margin-bottom: 9px;
	}

	&__input-phone {
		margin-bottom: 36px;
	}

	&__btn-create {
		margin-left: 220px;
	}
}

.title-form {
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
}

.btn {
	display: block;
	padding: 5px 15px;
	min-width: 132px;
	color: $white;
	font-family: $font-third;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	background: linear-gradient(180deg, #39B54A 0%, #34AA44 97.78%);
	border: 1px solid #249533;
	border-radius: 4px;

	&:hover {
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
	}

	&:active {
		color: $blue;	
	}
}
