.analysis-table {
  max-width: 1162px;
  width: 100%;
  box-sizing: border-box;


  &-wrap {
    padding: 36px 36px 30px 36px;
    width: 100%;
  }


  &__choice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__choice-item {
    padding: 5px 5px 13px 0;
    flex: 0 0 203px;
    max-width: 203px;
    min-width: 0;
    width: 100%;
    text-align: center;
    vertical-align: top;
  }

  &__choice-item-btn {
    position: relative;
    padding: 7px 30px 7px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    background: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
    border: 1px solid #CED0DA;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
  }

  &__icon-calendar {
    max-width: 16px;
    width: 100%;
    height: auto;
  }

  &__choice-item-btn-text {
    display: block;
    font-weight: 200;
    font-size: 14px;
    line-height: 19px;
    color: $grey-4;
  }

  &__icon-dropdown {
    position: absolute;
    top: 50%;
    right: 10px;
    max-width: 7px;
    width: 100%;
    height: auto;
  }
    
  &__choice-block {
    display: flex;
  }

  &__export-item {
    padding: 5px 5px 15px;
    max-width: 110px;
    width: 100%;
    text-align: center;
    vertical-align: top;
  }

  &__export-btn {
    position: relative;
    padding: 7px 10px 7px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: 0;
  }

  &__export-icon {
    position: absolute;
    top: 5px;
    left: 0;
    max-width: 17px;
    width: 100%;
    height: auto;
  }

  &__export-btn-text {
    display: block;
    font-size: 14px;
    line-height: 19px;
    color: $grey-3;

    &--color {
      color: $green-2;
    }
  }
   
  &__sort-item {
    margin-left: 40px;
    padding: 5px 5px 15px;
    max-width: 300px;
    width: 100%;
    text-align: center;
    vertical-align: top;
  }

  &__sort-item-btn {
    position: relative;
    padding: 7px 25px 7px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: 0;
  }

  &__sort-item-btn-text {
    display: block;
    font-size: 14px;
    line-height: 19px;
    color: $grey-3;
  }

  &__sort-icon-dropdown {
    position: absolute;
    top: 50%;
    right: 10px;
    max-width: 7px;
    width: 100%;
    height: auto;
  }

  &__body {
    width: 100%;
    border-collapse: collapse;
    background-color: $bg;
  }

  &__information-row {
    width: 100%;
    border: 1px solid #DFE2E5;
  }

  &__information-item-subtitle {
    padding: 5px 5px;
    width: 6.1%;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: $blue;

    &--checkbox {
      width: 4%;
    }

    &--quantity {
      width: 9%;
    }

    &--sum {
      width: 8.2%;
    }

    &--general {
      padding: 5px 10px;
      width: 11%;
    }
  }

  &__checkbox {
    position: relative;
    margin-right: 10px;
    height: 100%;
    max-width: 100px;
    display: flex;
    width: 100%;
    align-items: center;
    max-width: 100px;
    width: 100%;
  }

  &__checkbox-input {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;

    &:checked+.analysis-table__checkbox-text::before {
      background: linear-gradient(0deg, #29B311 0%, #57D841 100%);
      border: 1px solid #27AA11;
      box-sizing: border-box;
      border-radius: 4px;
    }

    &:checked+.analysis-table__checkbox-text:after {
      opacity: 1;
    }
  }

  &__checkbox-text {
    padding-left: 25px;
    font-family: $font-third;
    font-size: 14px;
    line-height: 18px;
    color: $grey-3;

    &::before {
      position: absolute;
      top: -8px;
      left: 11px;
      z-index: 1;
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      background: linear-gradient(0deg, #F2F4F8 0%, #FEFFFF 100%);
      border: 1px solid #CED0DA;
      box-sizing: border-box;
      border-radius: 4px;
    }

    &::after {
      position: absolute;
      top: -4px;
      left: 15px;
      z-index: 222;
      content: "";
      display: block;
      width: 8px;
      height: 7px;
      background: url("../images/tick-icon.svg") no-repeat;
      background-size: 8px 7px;
      opacity: 0;

    }
  }
        
  &__information-item-subtitle-btn {
  padding: 3px 10px 3px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  background: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
  border: 1px solid #CED0DA;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  }

  &__information-item-subtitle-btn-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
  }

  &__information-item-subtitle-icon-dropdown {
    position: absolute;
    top: 50%;
    right: 10px;
    max-width: 7px;
    width: 100%;
    height: auto;
  }
  

  &__choice-row {
    width: 100%;
    border: 1px solid #DFE2E5;

    &--mark {
      background: $bg-grey-3;
    }
  }

  &__information-item {
    padding: 15px 5px;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: $grey-3;

    &--title{
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: $blue;
    }
  }
}