.page-wrap-frame {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background: $bg-content;
}

.main-header-frame {
  padding: 0 30px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
  width: 100%;
  background: $bg;

  &__logo-frame {
    display: block;
    max-width: 76px;
    width: 100%;
    height: auto;
  }

  &__logo-frame-img {
    display: block;
    width: 100%;
    max-width: 76px;
    height: auto;
  }

  &__avatar {
    display: flex;
  }

  &__avatar-logo {
    display: block;
    max-width: 42px;
    width: 100%;
    height: auto;
  }

  &__avatar-logo-icon {
    display: block;
    max-width: 42px;
    width: 100%;
    height: auto;
  }

  &__avatar-text {
    margin-left: 10px;
  }

  &__avatar-title {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $dark-blue;
  }

  &__settings {
    margin: 0;
    text-decoration: none;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: $grey-2;
    letter-spacing: 0.01em;
  }
}

.main-frame {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex: 1 1 auto;
  width: 100%;
  background: $bg-content;
}

//shitty hack

.main-frame > div {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex: 1 1 auto;
  width: 100%;
  min-width: 0;
  min-height: 0;
}

.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  flex: 0 0 250px;
  max-width: 250px;
  border-top: 1px solid #dfe2e5;
  background: $white;
  box-shadow: 1px 0px 0px #dfe2e5;

  &__block {
    padding-bottom: 60px;
    flex: 0 0 30%;
    width: 100%;
  }

  &__list {
    margin: 0;
    padding: 25px 30px;
    justify-content: space-between;
    width: 100%;
    min-height: 272px;
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  &__item {
    list-style: none;
  }

  &__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 44px;
    color: $blue;
    text-decoration: none;

    &--active {
      color: $orange;
    }
  }

  &__item-icon {
    margin-right: 23px;
    display: block;
    max-width: 16px;
    width: 100%;
    height: auto;
  }

  &__accord {
    flex: 0 0 auto;
    width: 100%;
    background: $bg;
  }

  &__block-help {
    margin-top: auto;
    padding-left: 30px;
    padding-bottom: 24px;
    flex: 0 0 auto;
  }

  &__block-btn-help {
    display: block;
    padding: 0;
    border: none;
    background-color: transparent;
    font-family: $font-base;
    font-style: normal;
    color: $blue;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
}

.accord {
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  margin: 0 auto;
  max-width: 224px;
  width: 100%;
  min-height: 210px;
  border-top: 1px solid #e6eaee;
  width: 100%;
  list-style: none;

  &__item-title {
    padding: 11px 8px;
    width: 100%;
  }

  &__item-link {
    font-weight: 200;
    font-size: 12px;
    line-height: 14px;
    color: $grey-3;
    text-transform: uppercase;
    text-decoration: none;
  }

  &__dropdown-icon-corner {
    margin-left: 120px;
    max-width: 7px;
    width: 100%;
    height: auto;

    &--up {
      transform: rotate(180deg);
    }
  }

  &__submenu {
    padding-left: 15px;
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;

    &--none {
      display: none;
    }
  }

  &__submenu-link {
    margin: 16px 0;
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $dark-blue;
    background: $bg;
    text-decoration: none;
  }

  &__submenu-foto {
    margin-right: 19px;
    border-radius: 50%;
    display: block;
    max-width: 36px;
    width: 100%;
    height: auto;
    background: $bg;
  }
}

//shitty hack 

.accord__nav {
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  margin: 0 auto;
  max-width: 224px;
  width: 100%;
  min-height: 210px;
  border-top: 1px solid #e6eaee;
  width: 100%;
  list-style: none;
}