.main-header {
	padding: 0 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 70px;
	width: 100%;
	background: $white;

	&__block-wrap {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		display: block;
		max-width: 76px;
		width: 100%;
		height: auto;
	}

	&__logo-img {
		display: block;
		max-width: 76px;
		width: 100%;
		height: auto;
	}
}

.column {
	width: 27%;
	text-align: end;

	&__btn-help {
		padding: 0;
		border: none;
		background-color: transparent;
		font-family: $font-base;
		font-style: normal;
		color: $blue;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
	}

	&__content {
		position: absolute;
		top: 224px;
		right: 158px;
		display: flex;
		display: none;
		box-sizing: border-box;
		align-items: flex-end;
		max-width: 250px;
		width: 100%;
		min-height: 1024px;
		background: #FFFFFF;
		box-shadow: 1px 0px 0px #DFE2E5;
	}

	&__text {
		margin-left: 29px;
		margin-bottom: 24px;
		height: 15%;
		margin-bottom: 24px;
		font-family: $font-base;
		font-style: normal;
		font-weight: 500;
		font-size: 11px;
		line-height: 16px;
	}
}

//shitty hack

.main-header__column {
	width: 27%;
	text-align: end;
}