.main-content {
	position: relative;
	display: block;
	flex: 1 1 auto;
	min-width: 0;
	min-height: 0;

	&--login {
		padding-top: 141px;
		width: 100%;
		min-height: 884px;
		background: $bg-content;
	}

	&-inner {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow-y: auto;
	}
}