
/* Scaffold styles
*******************************************************************************************************************************/

html,
body {
	position: relative;
	height: 100%;
}

html {
	font-size: $font-size-root;
	padding: 0;
	margin: 0;
	min-height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	@include border-box-all;
}

body {
	position: relative;
	padding: 0;
	margin: 0;
	font-size: $font-size;
	line-height: $line-height;
	background-color: $bg;
	@include font-smoothing(on);
	text-rendering: optimizeLegibility;
	font-smooth: always;


	/* when navigation is shown, don’t allow scrolling of content */
	&.no_scroll {
		overflow: hidden;
		height: 100%;
	}
}

/* Firefox fix for overflow: hidden. Scroll bar is hidden and moves everything to the right */
@-moz-document url-prefix() {
	body.no_scroll {
		margin-right: 23px;
	}
	body.no_scroll .expanded {
		padding-right: 7px;
		background: rgba(255,255,255,.98); /* because FF no blur, reduce bg transparency */
	}
}

// a {
// 	color: inherit;
// 	@include transition;
// 	text-decoration: none;
// 	&:hover {
// 		@include transition;
// 		color: $link-hover;
// 		text-decoration: none;
// 	}
// }


figure {
	margin: 0;
}

img {
	max-width: 100%;
	border: none;
}

// .hidden {
// 	display: none;
// }

// .visually-hidden {
// 	position: absolute;
// 	width: 1px;
// 	height: 1px;
// 	margin: -1px;
// 	border: 0;
// 	padding: 0;
// 	white-space: nowrap;
// 	-webkit-clip-path: inset(100%);
// 	clip-path: inset(100%);
// 	clip: rect(0 0 0 0);
// 	overflow: hidden;
// }

.registration__main-title {
	font-family: $font-base;
	font-size: 24px;
	line-height: 36px;
	font-weight: $bold;
	text-align: center;
	color: $orange;
}

.page-wrap {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
  min-height: 100%;
	width: 100%;
	background: #EFF3F6;
}

.main-footer {
	padding-left: 50px;
	display: flex;
	align-items: center;
	flex: 0 0 70px;
	width: 100%;
	background: $bg-content;
	
	&__confidentiality {
    margin: 0;
	  font-family: $font-second;
    font-weight: 500;
    font-size: 14px;
		line-height: 16px;
		color: #6F6F6F;
	}
}

.checkbox {
	position: relative;
	margin-right: 10px;
	height: 100%;
	display: flex;
	align-items: center;
}

.checkbox-input {
	position: absolute;
	-webkit-appearance: none;
	appearance: none;

	&:checked+.checkbox-text::before {
		background: linear-gradient(0deg, #29B311 0%, #57D841 100%);
		border: 1px solid #27AA11;
		box-sizing: border-box;
		border-radius: 4px;
	}

	&:checked+.checkbox-text:after {
		opacity: 1;
	}
}

.checkbox-text {
	padding-left: 25px;
	font-family: $font-third;
	font-size: 14px;
	line-height: 18px;
	color: $grey-3;

	&::before {
		position: absolute;
		top: -8px;
		left: 11px;
		z-index: 1;
		content: "";
		display: block;
		width: 16px;
		height: 16px;
		background: linear-gradient(0deg, #F2F4F8 0%, #FEFFFF 100%);
		border: 1px solid #CED0DA;
		box-sizing: border-box;
		border-radius: 4px;
	}

	&::after {
		position: absolute;
		top: -4px;
		left: 15px;
		z-index: 2;
		content: "";
		display: block;
		width: 8px;
		height: 7px;
		background: url("../images/tick-icon.svg") no-repeat;
		background-size: 8px 7px;
		opacity: 0;

	}
}


.btn {
	padding: 7px 10px;
	display: flex;
	text-align: center;
	justify-content: center;
	font-family: $font-third;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	color: $white;
	background: linear-gradient(180deg, #39B54A 0%, #34AA44 97.78%);
	border: 1px solid #249533;
	box-sizing: border-box;
	border-radius: 4px;

	&:hover {
		box-shadow: 0 0 10px rgba(119, 116, 116, 0.5);
		transition: all 0.5s;
	}

	&:active {
		color: $blue;
	}
}