.table-information {
  max-width: 1115px;
  width: 100%;
  box-sizing: border-box;
  background: $bg;

  &-wrap {
    padding: 36px 36px 30px 36px; 
    width: 100%;
  }
  
  &__select {
    width: 100%;
  }
    
  &__select-row {
    width: 100%;
    background: $bg-content;
  }

  &__select-item {
    padding: 5px 5px 15px;
    width: 16.9%;
    text-align: center;
    vertical-align: top;

    &--phone {
      width: 15.3%;
    }

    &--date {
      width: 17.6%;
    }

    &--good {
      width: 14.6%;
    }

    &--goods {
      width: 18.7%;
    }
  }

  &__select-item-btn {
    position: relative;
    padding: 7px 30px 7px 14px;
    display: inline-block;
    text-align: start;
    min-width: 116px;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    background: linear-gradient(0deg, #F2F4F7 0%, #FFFFFF 100%);
    border: 1px solid #CED0DA;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
  }

  &__select-item-btn-text {
    display: block;
    font-size: 12px;
    line-height: 18px;
    color: $grey-4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }
            
  &__select-item-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    max-width: 7px;
    width: 100%;
    height: auto;

  }
}

.table-block{
  border: 1px solid #DFE2E5;

  &--border-top {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &--border-down {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &__info-row-title {
    padding: 21px 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $grey-4;
  }

  &__info-row-text {
    padding: 20px 10px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $blue;
  }
}

//shitty hack

.table-block__info-row{
  border: 1px solid #DFE2E5;

  &--border-top {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &--border-down {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &__info-row-title {
    padding: 21px 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $grey-4;
  }

  &__info-row-text {
    padding: 20px 10px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $blue;
  }
}