.expand-panel {
  padding: 5px 5px;
  display: flex;
  justify-content: center;
  max-width: 1162px;
  width: 100%;
  background: $bg;
  border: 1px solid #DFE2E5;
  border-radius: 4px;

  &-wrap {
    padding: 36px 36px 5px 36px;
    width: 100%;
  }

  &__btn {
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: $font-third;
  font-style: normal;
  color: $grey-3;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  text-decoration: underline;
  text-transform: lowercase;
  }
}

.calculate-range {
  padding: 20px 114px 40px 62px;
  max-width: 1162px;
  width: 100%;
  background: $bg;
  border: 1px solid #DFE2E5;
  border-radius: 4px;

  &-wrap {
    padding: 38px 20px 0 38px;
    width: 100%;
    
    &--none {
      display: none;
    }
  }

  &__title {
    padding-bottom: 25px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
  }

  &__inner-block {
    margin-bottom: 15px;
    display: flex;
  }

  &__form-wrapper {
    padding-right: 50px;
    width: 100%;
    flex: 0 0 40%;
    max-width: 40%;
    min-width: 0;
  }
     
  &__information-examples {
    padding: 15px 40px 5px 40px;
    width: 100%;
    flex: 0 0 60%;
    max-width: 60%;
    min-width: 0;
    background: $bg-grey-3;
    border: 1px solid #DFE2E5;
    border-radius: 4px;
  }

  &__information-block {
    margin-bottom: 15px;
  }

  &__information-subtitle {
    font-family: $font-base;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $blue;
  }

  &__information-subtitle-marker {
    color: $orange;
  }
        
  &__information-example {
    margin: 0;
    margin-left: 23px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: $blue;

    &--indent {
      margin-left: 86px;
    }
  }

  &__information-example-cell {
    margin: 0 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 22px;
    height: 22px;
    font-size: 9px;
    line-height: 21px;
    background: $bg;
    border: 1px solid $white-2;
    border-radius: 4px;
    text-align: center;
  }
 
  &__btn-collapse-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn-collapse {
    padding: 0;
    border: none;
    background-color: transparent;
    font-family: $font-third;
    font-style: normal;
    color: $grey-4;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.5px;
    text-decoration: underline;
    text-transform: lowercase;
  }
}

.fill-form {

  &__data-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 15px 20px;
    empty-cells: show;
  }

  &__data-row {
    width: 100%;
  }

  &__data-subtitle {
    padding: 5px 3px;
    width: 30px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    box-sizing: border-box;
  }

  &__data-value {
    padding: 5px 3px;
    width: 30px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    background: $bg;
    border: 1px solid $bg-grey-2;
    box-sizing: border-box;
    border-radius: 4px;

    &--color{
      background: $bg-grey-2;
    }
  }

  &__btn-drop {
  margin-bottom: 25px;
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: $font-third;
  font-style: normal;
  color: $grey-3;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  text-decoration: underline;
  }

  &__block-btn {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  }

  &__btn-autofill {
    padding: 7px 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: $font-third;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: $blue;
    background: $white;
    border: 1px solid $orange;
    box-sizing: border-box;
    border-radius: 4px;

    &:hover {
      background: $orange;
      color: $white;
      transition: all 0.5s;
    }

    &:active {
      color: $blue;
    }
  }

  &__btn-calculate {
    padding: 7px 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: $font-third;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: $white;
    background: linear-gradient(180deg, #39B54A 0%, #34AA44 97.78%);
    border: 1px solid #249533;
    box-sizing: border-box;
    border-radius: 4px;

    &:hover {
      box-shadow: 0 0 10px rgba(119, 116, 116, 0.5);
      transition: all 0.5s;
    }

    &:active {
      color: $blue;
    }
  }
}