.dropzone {
  max-width: 1115px;
  width: 100%;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  background: $bg;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &-wrap {
    padding: 36px 36px 0 36px;
    width: 100%;
  }

  &__data {
    padding: 23px 118px 23px 63px;
    width: 100%;
  }

  &__title-download {
    margin-left: 50px;
    margin-bottom: 23px;
    font-size: 22px;
    line-height: 33px;
    font-weight: 400;
    color: $dark;
  }

  &__wrap-block {
    width: 100%;
    height: 100%;
    display: flex;
  }

  &__form-block {
    display: flex;
    max-width: 292px;
    width: 100%;
  }
}

.form-download {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
    
  &__block-center {
    margin-bottom: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 163px;
    width: 292px;
    background: rgba(250, 251, 252, 0.0001);
    border: 4px dashed #D8DFE5;
    border-radius: 5px;
  }

  &__icon-plus {
    margin-bottom: 17px;
    max-width: 44px;
    width: 100%;
    height: auto;
  }

  &__block-input {
    position: relative;
    z-index: 10;
  }

  &__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;

    &:focus {
      outline: 1px solid #0078d7;
    }
  }

  &__text-label {
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: $grey-4;
  }

  &__span-or {
    margin-bottom: 14px;
    text-align: center;
    font-size: 10px;
    line-height: 15px;
    color: $grey-4;
  }

  &__block-input-btn {
    position: relative;
    z-index: 12;
  }

  &__input-btn {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -12;
  }

  &__btn-label {
    padding: 8px 10px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    font-family: $font-third;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: $white;
    background: linear-gradient(180deg, #39B54A 0%, #34AA44 97.78%);
    border: 1px solid #249533;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 10px rgba(119, 116, 116, 0.5);
      transition: all 0.5s;
    }

    &:active {
      color: $blue;
    }
  }
}

// shitty hack
.dropzone__form-download {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.progressbars {
  padding-left: 70px;
  flex: 1;

  &__list {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 163px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item-bar {
    display: flex;
    height: 40px;
    width: 100%;
  }

  &__item-bar-icon {
    margin-right: 20px;
    max-width: 31px;
    width: 100%;
    height: auto;
  }

  &__progressive-line {
    position: relative;
    width: 100%;
  }

  &__progressive-line-result {
    position: relative;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item-bar-title {
    margin-bottom: 5px;
    font-family: $font-fourth;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: $grey-4;

    &--none {
      visibility: hidden;
      opacity: 0;
    }
  }

  &__progressive-line-result-error {
    display: flex;

    &--none {
      visibility: hidden;
      opacity: 0;
    }
  }

  &__item-bar-error {
    display: block;
    font-size: 10px;
    line-height: 15px;
    color: $blue;

    &--none {
      visibility: hidden;
      opacity: 0;
    }
  }

  &__item-bar-btn {
    display: block;
    margin-left: 5px;
    width: 11px;
    height: 14px;
    border: 0;
    padding: 0;
    background: none;
  }

  &__item-bar-btn-icon {
    min-width: 11px;
    width: 100%;
    height: auto;
  }
        
  &__item-bar-loaded {
    display: block;
    font-size: 10px;
    line-height: 15px;
    color: $blue;

    &--none {
      visibility: hidden;
      opacity: 0;
    }
  }

  &__item-line-bar {
    width: 100%;
    height: 3px;
    background: $bg-line;
    border-radius: 0.5px;
  }

  &__item-line {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3px;
    background: $bg-green;
    border-radius: 0.5px;

    &--red {
      background: $bg-red;
    }

    &--none {
      visibility: hidden;
      opacity: 0;
    }
  }
}

// shitty hack 
.dropzone__progressbars {
  padding-left: 70px;
  flex: 1;
}